<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Autentikacija</servlet-name>
        <servlet-class>servlets.Autentikacija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profil</servlet-name>
        <servlet-class>servlets.Profil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pocetna</servlet-name>
        <servlet-class>servlets.Pocetna</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Narucivanje</servlet-name>
        <servlet-class>servlets.Narucivanje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Korpa</servlet-name>
        <servlet-class>servlets.Korpa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Istorija</servlet-name>
        <servlet-class>servlets.Istorija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Administracija</servlet-name>
        <servlet-class>servlets.Administracija</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Narudzbe</servlet-name>
        <servlet-class>servlets.Narudzbe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Proizvodi</servlet-name>
        <servlet-class>servlets.Proizvodi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Izvestaji</servlet-name>
        <servlet-class>servlets.Izvestaji</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Korisnici</servlet-name>
        <servlet-class>servlets.Korisnici</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Kategorije</servlet-name>
        <servlet-class>servlets.Kategorije</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Autentikacija</servlet-name>
        <url-pattern>/Autentikacija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profil</servlet-name>
        <url-pattern>/Profil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pocetna</servlet-name>
        <url-pattern>/Pocetna</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Pocetna</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>Narucivanje</servlet-name>
        <url-pattern>/Narucivanje</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Korpa</servlet-name>
        <url-pattern>/Korpa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Istorija</servlet-name>
        <url-pattern>/Istorija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Administracija</servlet-name>
        <url-pattern>/Administracija</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Narudzbe</servlet-name>
        <url-pattern>/Narudzbe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Proizvodi</servlet-name>
        <url-pattern>/Proizvodi</url-pattern>
    </servlet-mapping>
   
    <servlet-mapping>
        <servlet-name>Korisnici</servlet-name>
        <url-pattern>/Korisnici</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Kategorije</servlet-name>
        <url-pattern>/Kategorije</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
